a.borrow:link{color: #0000FF;text-decoration: none;}
a.borrow:visited{color: #0000FF;text-decoration: none;}
a.borrow:hover{color: #0000FF;text-decoration: none;}
a.borrow:active{color: #0000FF;text-decoration: none;}
a.remand:link{color: #009933;text-decoration: none;}
a.remand:visited{color: #009933;text-decoration: none;}
a.remand:hover{color: #009933;text-decoration: none;}
a.remand:active{color: #009933;text-decoration: none;}
a:link{color: #483D8B;text-decoration: none;}
a:visited{color: #483D8B;text-decoration: none;}
a:hover{color: #483D8B;text-decoration: none;}
a:active{color: #483D8B;text-decoration: none;}